body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
}

header {
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 15px;
}
footer {
    background-color: #1f2937;
    color: white;
    margin: 0;
    text-align: center;
}
.logo {
    margin-right:auto;
}
.nav{
    display: flex;
    gap: 30px
    
}
main {
    display: flex;
    flex-direction: column;
    margin-bottom: auto;
}
.part-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #1f2937;
    margin:0;
    color: white;
}

.p1l {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin: 50px;
    max-width: 50vw;
    flex-shrink: 1;
}
.place-holder {
    display: flex;
    flex-direction: column;
    margin: 50px;
    text-align: center;
}
#h2p1 {
    margin-bottom: 0;
}
.p1l button {
    background-color: #3882F6;
    color: white;
    border: #3882F6;
    border-style: solid;
    border-radius: 10px;

}
button {
    max-width: 150px;
    min-width: 100px;
}
.part-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.p2s {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    flex-wrap: wrap;
}
.p2t {
    display: flex;
    flex-direction: column;
    max-width: 250px;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.part-3 {
    background-color: #e5e7eb;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color:#1f2937;
    padding: 0px 150px;
}
.quote {
    text-align: right;
    font-weight: bold;
}
.part-4{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px;
    background-color: #3882F6;
    padding: 1em;
    border-radius: 10px;
    color: white;
}
.p4l{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;

}
.p4l p {
    margin:0;
}
.part-4 button {
    background-color: transparent;
    color: white;
    border-color: white;
    border-style: solid;
    border-radius: 10px;
    padding: 5px;
}
ul{
    text-decoration: none;
}

li {
    list-style-type: none;
}
